<footer id="footer" style="background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%); color: #fff; padding: 40px 0;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3 style="font-weight: bold; color: #ffd700;">Address</h3>
                    <p>Old CID Road<br>Mamba Point, Monrovia<br>Liberia<br><br><strong>Phone:</strong> +231 888757477<br><strong>Email:</strong> kessellyalton1@gmail.com</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 style="font-weight: bold; color: #ffd700;">Useful Links</h4>
                    <ul class="list-unstyled">
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}" class="text-white">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}" class="text-white">About</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'portfolio-list' %}" class="text-white">Projects</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog-list' %}" class="text-white">Blog</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}" class="text-white">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 style="font-weight: bold; color: #ffd700;"> Services</h4>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-chalkboard-teacher" style="color: #ffd700;"></i> <a href="#" class="text-white">Educational Consulting & Leadership</a></li>
                        <li><i class="fas fa-chart-line" style="color: #ffd700;"></i> <a href="{% url 'about'%}" class="text-white">Research & Data Analysis</a></li>
                        <li><i class="fas fa-laptop-code" style="color: #ffd700;"></i> <a href="{% url 'about'%}" class="text-white">Technology & Digital Development</a></li>
                        <li><i class="fas fa-atom" style="color:#ffd700;"></i> <a href="{% url 'about'%}" class="text-white">STEM Education & Collaboration</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 style="font-weight: bold; color: #ffd700;">Social Networks</h4>
                    <div class="social-links mt-3" style="font-size: 1.5em;">
                        <a href="https://twitter.com/kessellyalton" class="twitter text-primary" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/akesselly" class="facebook text-primary" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/altonv.kesselly/" class="instagram text-danger" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/kessellyalton" class="github text-dark" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.youtube.com/@Alton-jt9md" class="youtube text-danger" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.tiktok.com/@kessellyalton" class="tiktok text-danger" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.linkedin.com/in/alton-kesselly-549b10199/" class="linkedin text-primary" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
