<nav id="mainNavbar" class="navbar navbar-marketing navbar-expand-lg bg-primary navbar-dark fixed-top">
    <div class="container px-5">
        <a class="navbar-brand text-white" href="{% url 'home' %}">Alton Vanie Kesselly</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-lg-5">
                <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'portfolio-list' %}">Projects</a></li>



                <li class="nav-item"><a class="nav-link {% if request.path == '/blog/' %}active{% endif %}" href="{% url 'blog-list' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'testimonials' %}">Testimonials</a></li>
            </ul>
            <a class="btn fw-500 ms-lg-4 btn-teal" href="{% url 'press' %}">News and Events<i class="ms-2" data-feather="arrow-right"></i></a>
        </div>
    </div>
</nav>

<script>
    // JavaScript to change navbar color on scroll
    window.addEventListener('scroll', function() {
        const navbar = document.getElementById('mainNavbar');
        if (window.scrollY > 50) { // Adjust the scroll value as needed
            navbar.classList.remove('bg-primary');
            navbar.classList.add('bg-dark');
        } else {
            navbar.classList.remove('bg-dark');
            navbar.classList.add('bg-primary');
        }
    });
</script>
