{% extends "base.html" %}
{% load static %}
{% block title %}Documents{% endblock %}

{% block content %}
<section id="documents" class="documents mt-10">
  <div class="container">
    <div class="section-title text-center">
      <h2>Available Documents</h2>
      <p class="font-italic fw-bold">Download important documents such as reports, presentations, lectures, and more.</p>
    </div>

    <div class="row">
      <!-- Section for Resumes -->
      <div class="col-12">
        <div class="row">
          {% for resume in resumes %}
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-body text-center">
                <h5 class="card-title font-italic fw-bold">{{ resume.description }}</h5>
                <p class="card-text font-italic fw-bold">Uploaded on: {{ resume.uploaded_at|date:"M d, Y" }}</p>
                <a href="{% url 'download_resume' resume.id %}" class="btn btn-primary">Download {{ resume.file.name }}</a>
              </div>
            </div>
          </div>
          {% empty %}
          <p class="text-center font-italic fw-bold">No resumes available for download at this time.</p>
          {% endfor %}
        </div>
      </div>

      <!-- Section for PDF Files -->
      <div class="col-12">
        <div class="row">
          {% for pdf in pdfs %}
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-body text-center">
                <h5 class="card-title font-italic fw-bold">{{ pdf.title }}</h5>
                <p class="card-text font-italic fw-bold">Uploaded on: {{ pdf.uploaded_at|date:"M d, Y" }}</p>
                <a href="{% url 'download_pdf' pdf.id %}" class="btn btn-primary">Download {{ pdf.file.name }}</a>
              </div>
            </div>
          </div>
          {% empty %}
          <p class="text-center font-italic fw-bold">No PDF files available for download at this time.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
